<body>
<div *ngIf="customer">

  <div class="member_info">
    <div class="only_info">
    <h1>Kliento duomenys:</h1>

    <div><label>Vardas: </label> {{customer.name}}</div>
    <div><label>Pavardė: </label> {{customer.surname}}</div>
    <div><label>Suma: </label> €{{customer.loan}}</div>
    <div><label>Grynosios mėnesio pajamos: </label> €{{customer.income}}</div>
    <div><label>Statusas: </label>{{customer.status}}</div>

    <div *ngIf="customer.draft == false">
        <button (click)="acceptLoan()">
            Patvirtinti
        </button>
        <button (click)="declineLoan()">
            Atmesti
        </button>
    </div>

    <br>
    <br>
    <!--<div *ngIf="customer.draft == true">-->
    <button (click)="goBack()">Back</button>
    <!--</div>-->

    <button (click)="save()">Save</button>
    </div>
  </div>
</div>

</body>
