button {
    margin-top: 20px;
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer; cursor: hand;
}
button:hover {
    background-color: #cfd8dc;
}
button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
}


.member_info{
  background-color: rgba(168, 113, 56, 0.29);
  border-radius: 15px 50px;
  width: 80%;
  margin:auto;
  padding-bottom: 10px;
  padding-top: 10px;

}

.only_info{
margin-left: 10%;

}
