<div>
    <label>Customer name:</label>
    <input class="form-field-narrow" id="name" min="0" #name>

    <label>surname:</label>
    <input class="form-field-narrow"  id="surname" min="0" #surname>

    <label>personal_code:</label>
    <input class="form-field-narrow"  id="personal_code" min="0" #personal_code>

    <label>doc_type:</label>
    <input class="form-field-narrow"  id="doc_type" min="0" #doc_type>

    <label>doc_code:</label>
    <input class="form-field-narrow"  id="doc_code" min="0" #doc_code>

    <label>country:</label>
    <input class="form-field-narrow"  id="country" min="0" #country>

    <label>phone_number:</label>
    <input class="form-field-narrow"  id="phone_number" min="0" #phone_number>

    <label>salary:</label>
    <input class="form-field-narrow"  id="salary" min="0" #salary>

    <label>amount:</label>
    <input class="form-field-narrow"  id="amount" min="0" #amount>


    <label>term:</label>
    <input class="form-field-narrow"  id="term" min="0" #term>

    <label>payment_day:</label>
    <input class="form-field-narrow"  id="payment_day" min="0" #payment_day>

    <label>status:</label>
    <input class="form-field-narrow"  id="status" min="0" #status>




</div>

<!--id: number;-->
<!--name: string;-->
<!--surname: string;-->
<!--personal_code: number;-->
<!--doc_type: string;-->
<!--doc_code: string;-->
<!--country: string;-->
<!--phone_number: number;-->
<!--email: string;-->
<!--salary: number;-->
<!--amount: number;-->
<!--term: number;-->
<!--payment_day: number;-->
<!--status: string;-->
<!--date: number;-->




<button type="submit" class="btn btn-default"   (click)="submitLoanApplication(
               name.value,
               surname.value,
               personal_code.value,
               doc_type.value,
               doc_code.value,
               country.value,
               phone_number.value,
               amount.value,
               salary.value,
               amount.value,
               term.value,
               payment_day.value,
               status.value


               )">
    Save
</button>

<!--"name": "mantas",-->
<!--"surname": "luko",-->
<!--"personal_code": null,-->
<!--"doc_type": null,-->
<!--"doc_code": null,-->
<!--"country": null,-->
<!--"city": null,-->
<!--"address": null,-->
<!--"phone_number": null,-->
<!--"email": null,-->
<!--"salary": null,-->
<!--"amount": 555,-->
<!--"term": null,-->
<!--"payment_day": null,-->