.container{
  color: #f5871f;
  text-align: center;
}
.md-slider-horizontal {
  width:100%;
}

#page-padding {
  padding: 0 1.5em 1.5em 1.5em;
}
.hr {
  color: #f00;
  background-color: #f00;
  height: 5px;
}
